@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(71, 68, 68);
    background-image: url(../images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}

.heading {
    font-size: 5rem;
    color: white;
}

.intro {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 3rem;
}

nav {
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
}

nav ul li {
    text-align: center;
}
nav ul a {
    list-style: none;
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    height: 400px;
    text-align: center;
    padding: 5rem 12rem 0;
}

.link-btn {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 1.1rem;
    padding: 0.7rem 2rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
.link-btn:hover {
    background-color:black;
}

.link-btn:focus {
    outline: none;
}

footer {
    height: 100px;
}
